name: release-please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      prs_created: ${{ steps.release.outputs.prs_created }}
      pr: ${{ steps.release.outputs.pr }}
      releases_created: ${{ steps.release.outputs.releases_created }}
      version: ${{ steps.release.outputs.version }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: simple

  update-pr-files:
    needs: release-please
    runs-on: ubuntu-latest
    if: ${{ needs.release-please.outputs.prs_created == 'true' }}
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ fromJson(needs.release-please.outputs.pr).headBranchName }}
          fetch-depth: 0

      - name: Get version from version.txt
        id: get-version
        run: |
          VERSION=$(echo -n $(head -n 1 version.txt))
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Update version.ahk
        run: sed -i version.ahk -e "s/\".*\"/\"$VERSION\"/"

      - name: Commit and push updated files
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add version.ahk
          git commit --amend --no-edit
          git push --force-with-lease

  compile-ahk-to-exe:
    needs: release-please
    if: ${{ needs.release-please.outputs.releases_created == 'true' }}
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6

      - uses: KamaranL/Ahk2Exe-action@v1
        id: build-x64
        with:
          in: QualityOfExile.ahk
          out: QualityOfExile.exe
          arch: x64
          icon: assets/favicon.ico
          
      - uses: actions/upload-artifact@v6
        with:
          name: quality-of-exile-exe
          path: QualityOfExile.exe
          
  upload-files-to-release:
    needs: [release-please, compile-ahk-to-exe]
    if: ${{ needs.release-please.outputs.releases_created == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Zip files
        run: zip quality-of-exile-${{ needs.release-please.outputs.version }}.zip *.ahk functions version.txt LICENSE README.md

      - name: Upload assets to release
        uses: jaywcjlove/github-action-upload-assets@main
        with:
          tag: v${{ needs.release-please.outputs.version }}
          asset-path: '["./quality-of-exile-${{ needs.release-please.outputs.version }}.zip"]'

      - uses: actions/download-artifact@v4
        with:
          name: quality-of-exile-exe

      - name: Upload assets to release
        uses: jaywcjlove/github-action-upload-assets@main
        with:
          tag: v${{ needs.release-please.outputs.version }}
          asset-path: '["QualityOfExile.exe"]'